= error(@article)

%table.table  
  %tr
    %td= f.label(:page_id, 'Page')
    %td= f.select(:page_id, @pag.map{|x| [x.name, x.id]}, :class => 'form-control')
  %tr
    %td= f.label(:name)
    %td= f.text_field(:name)
  %tr
    %td= f.label(:position)
    %td= f.select(:position, 1..@counter, :class => 'form-control')
  %tr
    %td= f.label(:is_visible)
    %td= f.check_box(:visible)
  %tr
    %td= f.label(:photo)
    %td= f.file_field(:photo)