.hero-unit
  %h1= @article.name
  = form_for(:article, :url => { :action => "update", :id => @article.id, :page_id => @page.id }) do |f| 
    = render(:partial => 'form', :locals => {:f => f})
    %p{:style => 'text-align: center;'}
      = f.submit(:Update, :class => 'btn btn-primary')
      = link_to("Back", { :action => "index", :page_id => @page.id }, :class => 'btn btn-warning')