.hero-unit
  %h1 Users
  %p= link_to("Add new user", { :action => "new" }, :class => 'btn btn-mini btn-primary')
  %p{:style => "text-align: right;"}= "Users count: #{@users.count}"

  %table.table.table-striped
    %tr.info
      %th User
      %th Name
      %th Email
      %th Actions
    - @users.each do |user|
      %tr
        %td= user.user
        %td= user.firstname + ' ' + user.lastname
        %td= mail_to(user.email)
        %td
          =link_to("Edit", {:action => "edit", :id => user.id}, :class => 'btn btn-xs btn-primary')
          =link_to("Destroy", {:action => "destroy", :id => user.id}, :confirm => "Are you sure you want to do that?", :class => 'btn btn-xs btn-danger')

