.hero-unit
  %h3 
    Admin menu
    = link_to("Categories", {:controller => 'categories'}, :class => 'btn btn-default')
    = link_to("Pages", {:controller => 'pages'}, :class => 'btn btn-default')
    = link_to("Articles", {:controller => 'articles'}, :class => 'btn btn-default')
    = link_to("Galleries", {:controller => 'galleries'}, :class => 'btn btn-default')
    = link_to("Photos", {:controller => 'photos'}, :class => 'btn btn-default')
    = link_to("Users", {:controller => 'users'}, :class => 'btn btn-default')
    = link_to("Log Out", {:action => 'logout'}, :class => 'btn btn-default')