.hero-unit 
  %h1= @page.name

  %table.table.striped
    %tr
      %th Name
      %td= @page.name
    %tr
      %th Position
      %td= @page.position
    %tr
      %th Category
      %td= @page.category.name
    %tr
      %th Is visible
      %td= @page.visible ? "Yes" : "No"
    %tr
      %th Created at
      %td= @page.created_at
    %tr
      %th Updated at
      %td= @page.updated_at
  %p{:style => 'text-align: center;'}= link_to("Back", { :action => "index" , :category_id => @category.id}, :class => 'btn btn-primary')