%h1 Categories
%h2= flash[:alert]
%p= link_to("Add new category", { :action => "new" })
%p= "Category count: #{@categories.size}"

%table
  %tr
    %th Position
    %th Name
    %th Visible
    %th Pages
    %th Actions
  - @categories.each do |category|
    %tr
      %td= category.position
      %td= category.name
      %td= category.visible ? "Yes" : "No"
      %td= category.pages.count
      %td
        =link_to("Show", {:action => "show", :id => category.id})
        =link_to("Edit", {:action => "edit", :id => category.id})
        =link_to("Destroy", {:action => "destroy", :id => category.id})

