%h1= @category.name

%p= link_to("Back", { :action => "index" })

%table
  %tr
    %th Name
    %td= @category.name
  %tr
    %th Position
    %td= @category.position
  %tr
    %th Is visible
    %td= @category.visible ? "Yes" : "No"
  %tr
    %th Created at
    %td= @category.created_at
  %tr
    %th Updated at
    %td= @category.updated_at
