!!!
%html
  %head
    %title Course
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{:name => 'viewport', :content => 'width-device-width, initial-scale=1.0'}
  %body
    /menu
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand.logob{:href => 'http://www.google.com' }
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => '/categories'} Categories         
            %li
              %a{:href => '/galleries'} Galleries         
            %li.dropdown
              %a.dropdown_toggle{:href => '#', 'data-toggle' => 'dropdown'} 
                Users
                %b.caret  
              %ul.dropdown-menu
                %li= link_to("Users", :controller => 'users')       
                %li.divider
                %li
                  %a{:href => '/access/logout'}
                    Logout
    /content
    .container
      -if !flash[:notice].blank?     
        .alert.alert-success{:style => 'text-align: center;'}
          = flash[:notice]
      = yield

    #footer
      .container
        %p.text-muted
          Footer test
